:root {
  --bg: #f1f1f1;
  --sans: "Times New Roman", Times, serif;
  --heading: "Times New Roman", Times, serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
}

h1,
h2 {
  font-family: var(--heading);
  text-align :  center;
}

header {
  background-color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  margin: 0;
  padding: 0;
}

nav.main-navigation li {
  float: left;
}

nav li a {
  display: block ;
  color: #FFF ;
  text-align: center ;
  text-decoration: none ;
  padding: 14px 16px ;
}

nav li a:hover {
  background-color: #111;
}

article {
  background-color: #fff;
  padding: 20px;
  flex: 1;
  min-width: 0;
}

footer {
  background-color: #ddd;
  margin-top: 8px;
  padding: 10px;
}

p {
  margin: 0;
}

img {
  max-width: 500px;
  height: auto;
  border-radius: 4px;
  margin: 10px 15px;
  vertical-align: bottom;
}
